<h4>Register</h4>

<div class ='well'>
  <div class = 'control-group'>
    <p><label_for="Username"> Username: </label></p>
    <input type='text'></input>
  </div>
    <div class = 'control-group'>
    <p><label_for="Password"> Password: </label></p>
    <input type='text'></input>
  </div>
  <input type="submit"  value="Submit">
</div>